.Product {
  width: 90%;
  margin: 3% auto;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.Product .productImgContainer {
  width: 50%;
  height: 35vw;
  overflow: hidden;
}
.Product .ProductImg {
  width: 90%;
}
.contentContainer {
  width: 50%;
  font-size: calc(0.7vw + 10px);
}
.prodTitle {
  margin: 1vw 0;
}
.productDescription {
  line-height: calc(1.5vw + 10px);
}
.prodCategory {
  font-size: calc(0.5vw + 10px);
  margin: 1vw 0;
}
.prodCategory span {
  cursor: pointer;
  color: #196ae5;
}
.prodRating {
  font-size: calc(0.5vw + 10px);
  margin: 1vw 0;
}
.cartBtns {
  padding: 0.7vw 1vw;
  margin: 1vw 1vw 1vw 0;
  outline: none;
  border: 0;
  color: white;
  background-color: grey;
  font-size: calc(0.7vw + 10px);
  border-radius: 5px;
  cursor: pointer;
}
#addCart {
  background-color: #3f51b5;
}
#buyNow {
  background-color: #455a64;
}
